<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/style.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
        <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    </head>
    <body>
        <h1>Journalists <span>killed</span> in South Asia <br>(1992-present)</h1>
        <h3 class = byline>By Aadit Tambe</h3>
        <hr>

        <p class="update">Data current as of Oct. 20, 2021</p>

        <p><span>167 journalists </span> have been killed in South Asian countries &mdash; which include Bangladesh, Bhutan, India, Nepal, Pakistan, Sri Lanka and the Maldives &mdash; since 1992, according to the <a href="https://cpj.org/">Committee to Protect Journalists</a>.</p>
        <p>CPJ’s 2020 Global Impunity Index, which spotlights countries where journalists are singled out for murder and their killers go free, showed that three out of the top 12 countries are located in South Asia.</p>
        <p>The 2020 report showed corruption, weak institutions, and lack of political will to pursue robust investigations were factors behind impunity in most countries on the list. Some cases that were thought to be resolved were upended. Last year, Pakistan's Sindh High Court overturned the murder convictions of four men accused of killing <a href="31/index.html">Daniel Pearl</a>, a South Asia correspondent for the Wall Street Journal.</p>

        <div id="viz">
            <iframe src=" https://aadittambe.github.io/app/viz/ai2html-output/index.html" width="100%" height="700" style="border:none;">
            </iframe>
        </div>
        <p>In India, most journalists were killed in the state of Jammu and Kashmir, covering civilian conflict.</p>
        <p>Somalia, Syria, Iraq, and South Sudan occupy the worst four spots on the list, in that order, as war and political instability perpetuate the cycle of violence and lawlessness.</p>
        <div id="map" style="width:100%; height:400px;"></div>
        
        <div id="info"></div>
        
        <table border=1 cellpadding=7>
            <tr>
                <th>Name</th>
                <th>Year</th>
                <th>Nationality</th>
                <th>Killed by</th>
                <th>Job</th>
                <th>Press organization</th>
                <th>Location</th>
            </tr>
        {% for obj in object_list %}
            <tr>
                <td><a href="{{ obj.id }}/">{{ obj.fullName }}</a></td>
                <td>{{ obj.year }}</td>
                <td>{{ obj.primaryNationality }}</td>
                <td>{{ obj.sourcesOfFire }}</td>
                <td>{{ obj.jobs}}</td>
                <td>{{ obj.organizations }}</td>
                <td>{{ obj.city_country }}</td>
            </tr>
        {% endfor %}
        </table>

        <p class="update">Methodology and sources</p>
        <p>This is my first news application developed after completing the <a href="https://first-news-app.readthedocs.io/en/latest/#">First News App</a> tutorial. I wrote a web scraper to collect data from the <a href="#">Committee to Protect Journalists</a> website to obtain biographical descriptions of each journalist's death. Using the GeoPy package, I converted locations to geographical coordinates &mdash; after cleaning and analyzing the data in pandas.</p>
        <p>In addition to the First News App tutorial, thank you to the following resources for inspiration:</p>
        <ul>
            <li><a href="https://cpj.org/2021/09/indian-finance-authorities-raid-offices-of-newslaundry-and-newsclick-websites">Indian finance authorities raid offices of Newslaundry and Newsclick websites</a></li>
            <li><a href="https://theprint.in/world/journalists-killed-in-retaliation-for-their-work-globally-doubles-this-year-to-21-report/571634/">Journalists killed ‘in retaliation for their work’ globally doubles this year to 21 — Report</a></li>
            <li><a href="https://cpj.org/reports/2020/12/murders-journalists-more-than-doubled-killed/">Murders of journalists more than double worldwide
            </a></li>
        </ul>
        <p></p>

        <p></p>

        <div class="footer">
            <p style="">Developed by Aadit Tambe &mdash; 2021</p>
          </div>
        <script type="text/javascript">
           $(document).ready(function() {	
            
            $('#info').css('display', 'none')

            var map = L.map('map').setView([20.0439549,78.9543129], 4);
            var osmLayer = new L.TileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoiYWFkaXR0YW1iZSIsImEiOiJja3YxMXNzNjI3c2RhMnFxNnFqajZqdnZwIn0.a9gwkXW78sxu51NyWADROA', {
                id: 'mapbox/light-v10',
                maxZoom: 12,
                minZoom: 3,
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
        'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            });
            map.addLayer(osmLayer);
            var data = {
              "type": "FeatureCollection",
              "features": [
                {% for obj in object_list %}
                {
                  "type": "Feature",
                  "properties": {
                    "fullName": "{{ obj.fullName }}",
                    "sourcesOfFire":"{{ obj.sourcesOfFire}}",
                    "year":"{{obj.year}}",
                    "id": "{{ obj.id}}",
                    "desc": "{{ obj.desc }}",
                    "typeOfDeath": "{{ obj.typeOfDeath }}",
                    "location": "{{ obj.city_country }}"
                  },
                  "geometry": {
                    "type": "Point",
                    "coordinates": [{{ obj.lon }}, {{ obj.lat }}]
                  }
                }{% if not loop.last %},{% endif %}
                {% endfor %}
              ]
            };
            var geojsonMarkerDangerous = {
                radius: 6,
                fillColor: "#168FFF",
                color: "#000",
                weight: 1,
                opacity: 1,
                fillOpacity: 0.8
            };  
            var geojsonMarkerCrossfire = {
                radius: 6,
                fillColor: "#17cb49",
                color: "#000",
                weight: 1,
                opacity: 1,
                fillOpacity: 0.8
            };  
            var geojsonMarkerMurder = {
                radius: 6,
                fillColor: "#f74141",
                color: "#000",
                weight: 1,
                opacity: 1,
                fillOpacity: 0.8
            };  
            function getColor(d) {
            // console.log(d)
                return d == "Dangerous Assignment" ? '#168FFF' :
                    d == "Crossfire" ? '#17cb49' :
                        d == "Murder" ? '#f74141' :
                                '#666';
            }
            var legend = L.control({ position: 'bottomright' });

            legend.onAdd = function (map) {

                var div = L.DomUtil.create('div', 'info legend'),
                    labels = [],
                    categories = ["Dangerous Assignment", "Crossfire", "Murder",],
                    from, to;

                for (var i = 0; i < categories.length; i++) {
                    // console.log(getColor(categories[i]))
                    div.innerHTML +=
                        labels.push(
                            '<i style="background:' + getColor(categories[i]) + '"></i> ' +
                            (categories[i] ? categories[i] : '+'));
                }

                div.innerHTML = labels.join('<br>');
                return div;
            };

            legend.addTo(map);
            var dataLayer = L.geoJson(data, {
                    pointToLayer: function(feature, latlng){
                        if (feature.properties.typeOfDeath == "Murder"){
                            return L.circleMarker(latlng, geojsonMarkerMurder);
                        } else if(feature.properties.typeOfDeath == "Dangerous Assignment"){
                            return L.circleMarker(latlng, geojsonMarkerDangerous);
                        } else{
                            return L.circleMarker(latlng, geojsonMarkerCrossfire); 
                        }          return L.circleMarker(latlng, geojsonMarkerDangerous);
                    },
	                onEachFeature: function(feature, layer, latlng) {
	                	layer.on('click', function(event) {
                            $('html').click(function(e) {   
                            // console.log(e.target)
                            // if anything oterh than the dot is clicked, take display away
                            if( !$(e.target).hasClass("leaflet-interactive") )
                            {   
                                $('#info').css('display', 'none')
                            }
                            });    
	                		$('#info').css('display', 'block')
                            // what's their story
	                				.html('<h2>'+ '<span> '+ feature.properties.fullName + "&apos;s </span> story" + '</h2>' + feature.properties.desc);
                            
	                	});
	                	layer.bindPopup('<strong>' + feature.properties.fullName + '</strong>' + '  was killed in '+feature.properties.location+' in '+feature.properties.year + '.');
	                }
	            });
            // console.log(dataLayer)
; 
            map.addLayer(dataLayer);
        });
        </script>
    </body>
</html>